/* Animação para o formulário aparecer suavemente */


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  animation: fadeIn 0.5s ease-in-out;
}
.form_inline{

  display: flex;
  justify-content:space-around;
}


p{
  font-size:10px ;
  margin-bottom: 10px;
  color:red;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 97%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.input-container label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 0;
  left: 10px;
  font-size: 12px;
  color: #333;
}

/*input:focus {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
*/
input::placeholder {
  text-align: left;
  padding-left: 20px;
  color: black;
}

.group_block {
  width: 97%;
}

button {
  color: #DDDDDD;
  background-color: #920305;
  outline: none;
  border: none;
  height: 35px;
  border-radius: 5px;
  width: 97%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

}

button:hover {
  background-color: #b30606;
  transform: scale(1.05);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.button-voltar, .button-continuar {
  width: 50%;
  margin-bottom: 12px;
}


/* Customização para checkbox */
.checkbox-custom {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-custom input[type="checkbox"] {
  display: none; /* Esconde o checkbox padrão */

}

.checkbox-custom label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.checkbox-custom label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #920305;
  border-radius: 3px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkbox-custom input[type="checkbox"]:checked + label::before {
  background-color: #920305;
  border-color: #920305;
}

.checkbox-custom input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
}


h1 {
  padding: 40px;
  font-family: 'Roboto', sans-serif;
}
h2{
  font-family: 'Roboto', sans-serif;
  width:100%;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

input:focus::placeholder {
  opacity: 0;
}
.categories{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-part-1{
  display: inline-block;
 padding-left: 120px;

}

.categories-part-2{
  display: inline-block;
}
.input-inline{
  display: inline;
}


input[type="date"]{
  width: 97%;
  height: 37px;
  border: none;
  border-bottom: 1px solid black;
  background: url(../../../../../assets/img/calendar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  font-weight: 12px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;

}

input[type="date"]::-webkit-calendar-picker-indicator{
  opacity: 0;
  width: 120px;
  height: 120px;
}

input[type="date"]:focus {
  outline: none;
  box-shadow: none;
}

.aviso{
  font-size: 15px;
}

.error_container p{
  color:black;
  font-size: 15px;

}
.error_container{
  animation: fadeIn 0.5s ease-in-out;
}
.date-placeholder{
  padding-top:15px;

}
