.container-register{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 /* background-color: #920305;*/
  background-image: linear-gradient(to right,#920305, #96282a, rgb(226, 182, 182));
}

