<h1 class="text-5xl">Cadastre-se</h1>

<form [formGroup]="formLogin" action="" method="post">
    <div class="input-container">
      <input class="group_block login-image" type="text" name="" id="" required formControlName="login">
      <label for="login">Login</label>
    </div>
    <div class="input-container">
      <input class="group_block password-image " type="password" name="" id="" required formControlName="password">
      <label for="password">Senha</label>
    </div>
    <div>
      <button type="submit" (click)="submitForm($event)">Entrar</button>
    </div>
    <div><a routerLink="/register">registre-se aqui !</a></div>
</form>


